In [ ]:
import pandas as pd
import pickle
import numpy as np

In [6]:
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in '/content': ['.config', 'dataset_level1.pkl', '.ipynb_checkpoints', 'dataset_level2.pkl', 'data', 'sample_data']

In [7]:
df = pickle.load(open('dataset_level2.pkl','rb'))

In [ ]:
df

# batting_team
# bowling team
# city
# current score
# ball left
# wickets left
# current rr
# last five

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [8]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8419
venue                  0
dtype: int64

In [9]:
df[df['city'].isnull()]['venue'].value_counts()

Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    1941
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Harare Sports Club                          372
Adelaide Oval                               371
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: venue, dtype: int64

In [10]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [11]:
df['city'] = cities

In [12]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [13]:
df.drop(columns=['venue'],inplace=True)

In [14]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,8,Australia,Sri Lanka,0.1,0,0,Barbados
1,8,Australia,Sri Lanka,0.2,1,0,Barbados
2,8,Australia,Sri Lanka,0.3,1,0,Barbados
3,8,Australia,Sri Lanka,0.4,0,0,Barbados
4,8,Australia,Sri Lanka,0.5,0,SR Watson,Barbados
...,...,...,...,...,...,...,...
122,905,India,West Indies,19.2,6,0,Lauderhill
123,905,India,West Indies,19.3,0,0,Lauderhill
124,905,India,West Indies,19.4,1,0,Lauderhill
125,905,India,West Indies,19.5,6,0,Lauderhill
126,905,India,West Indies,19.6,1,0,Lauderhill

In [45]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [16]:
df = df[df['city'].isin(eligible_cities)]

In [17]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,8,Australia,Sri Lanka,0.1,0,0,Barbados
1,8,Australia,Sri Lanka,0.2,1,0,Barbados
2,8,Australia,Sri Lanka,0.3,1,0,Barbados
3,8,Australia,Sri Lanka,0.4,0,0,Barbados
4,8,Australia,Sri Lanka,0.5,0,SR Watson,Barbados
...,...,...,...,...,...,...,...
122,905,India,West Indies,19.2,6,0,Lauderhill
123,905,India,West Indies,19.3,0,0,Lauderhill
124,905,India,West Indies,19.4,1,0,Lauderhill
125,905,India,West Indies,19.5,6,0,Lauderhill
126,905,India,West Indies,19.6,1,0,Lauderhill

In [18]:
df['current_score'] = df.groupby('match_id').cumsum()['runs']

<ipython-input-18-ac174c139314>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['current_score'] = df.groupby('match_id').cumsum()['runs']
<ipython-input-18-ac174c139314>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id').cumsum()['runs']

In [19]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,8,Australia,Sri Lanka,0.1,0,0,Barbados,0
1,8,Australia,Sri Lanka,0.2,1,0,Barbados,1
2,8,Australia,Sri Lanka,0.3,1,0,Barbados,2
3,8,Australia,Sri Lanka,0.4,0,0,Barbados,2
4,8,Australia,Sri Lanka,0.5,0,SR Watson,Barbados,2
...,...,...,...,...,...,...,...,...
122,905,India,West Indies,19.2,6,0,Lauderhill,159
123,905,India,West Indies,19.3,0,0,Lauderhill,159
124,905,India,West Indies,19.4,1,0,Lauderhill,160
125,905,India,West Indies,19.5,6,0,Lauderhill,166
126,905,India,West Indies,19.6,1,0,Lauderhill,167

In [20]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

<ipython-input-20-4fd5a57c1fcd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
<ipython-input-20-4fd5a57c1fcd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,8,Australia,Sri Lanka,0.1,0,0,Barbados,0,0,1
1,8,Australia,Sri Lanka,0.2,1,0,Barbados,1,0,2
2,8,Australia,Sri Lanka,0.3,1,0,Barbados,2,0,3
3,8,Australia,Sri Lanka,0.4,0,0,Barbados,2,0,4
4,8,Australia,Sri Lanka,0.5,0,SR Watson,Barbados,2,0,5
...,...,...,...,...,...,...,...,...,...,...
122,905,India,West Indies,19.2,6,0,Lauderhill,159,19,2
123,905,India,West Indies,19.3,0,0,Lauderhill,159,19,3
124,905,India,West Indies,19.4,1,0,Lauderhill,160,19,4
125,905,India,West Indies,19.5,6,0,Lauderhill,166,19,5
126,905,India,West Indies,19.6,1,0,Lauderhill,167,19,6

In [21]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

<ipython-input-21-e7d17f656852>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,8,Australia,Sri Lanka,0.1,0,0,Barbados,0,0,1,1
1,8,Australia,Sri Lanka,0.2,1,0,Barbados,1,0,2,2
2,8,Australia,Sri Lanka,0.3,1,0,Barbados,2,0,3,3
3,8,Australia,Sri Lanka,0.4,0,0,Barbados,2,0,4,4
4,8,Australia,Sri Lanka,0.5,0,SR Watson,Barbados,2,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
122,905,India,West Indies,19.2,6,0,Lauderhill,159,19,2,116
123,905,India,West Indies,19.3,0,0,Lauderhill,159,19,3,117
124,905,India,West Indies,19.4,1,0,Lauderhill,160,19,4,118
125,905,India,West Indies,19.5,6,0,Lauderhill,166,19,5,119
126,905,India,West Indies,19.6,1,0,Lauderhill,167,19,6,120

In [22]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

<ipython-input-22-7ed065e8960c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
<ipython-input-22-7ed065e8960c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,8,Australia,Sri Lanka,0.1,0,0,Barbados,0,0,1,1,119
1,8,Australia,Sri Lanka,0.2,1,0,Barbados,1,0,2,2,118
2,8,Australia,Sri Lanka,0.3,1,0,Barbados,2,0,3,3,117
3,8,Australia,Sri Lanka,0.4,0,0,Barbados,2,0,4,4,116
4,8,Australia,Sri Lanka,0.5,0,SR Watson,Barbados,2,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
122,905,India,West Indies,19.2,6,0,Lauderhill,159,19,2,116,4
123,905,India,West Indies,19.3,0,0,Lauderhill,159,19,3,117,3
124,905,India,West Indies,19.4,1,0,Lauderhill,160,19,4,118,2
125,905,India,West Indies,19.5,6,0,Lauderhill,166,19,5,119,1
126,905,India,West Indies,19.6,1,0,Lauderhill,167,19,6,120,0

In [23]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
df['wickets_left'] = 10 - df['player_dismissed']

<ipython-input-23-e0234112d42f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
<ipython-input-23-e0234112d42f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype('int')
<ipython-input-23-e0234112d42f>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
<ipython-input-23-e0234112d42f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
<ipython-input-23-e0234112d42f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

In [24]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,8,Australia,Sri Lanka,0.1,0,0,Barbados,0,0,1,1,119,10
1,8,Australia,Sri Lanka,0.2,1,0,Barbados,1,0,2,2,118,10
2,8,Australia,Sri Lanka,0.3,1,0,Barbados,2,0,3,3,117,10
3,8,Australia,Sri Lanka,0.4,0,0,Barbados,2,0,4,4,116,10
4,8,Australia,Sri Lanka,0.5,0,1,Barbados,2,0,5,5,115,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,905,India,West Indies,19.2,6,5,Lauderhill,159,19,2,116,4,5
123,905,India,West Indies,19.3,0,5,Lauderhill,159,19,3,117,3,5
124,905,India,West Indies,19.4,1,5,Lauderhill,160,19,4,118,2,5
125,905,India,West Indies,19.5,6,5,Lauderhill,166,19,5,119,1,5
126,905,India,West Indies,19.6,1,5,Lauderhill,167,19,6,120,0,5

In [25]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

<ipython-input-25-fad47fc85776>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [26]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,8,Australia,Sri Lanka,0.1,0,0,Barbados,0,0,1,1,119,10,0.000000
1,8,Australia,Sri Lanka,0.2,1,0,Barbados,1,0,2,2,118,10,3.000000
2,8,Australia,Sri Lanka,0.3,1,0,Barbados,2,0,3,3,117,10,4.000000
3,8,Australia,Sri Lanka,0.4,0,0,Barbados,2,0,4,4,116,10,3.000000
4,8,Australia,Sri Lanka,0.5,0,1,Barbados,2,0,5,5,115,9,2.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,905,India,West Indies,19.2,6,5,Lauderhill,159,19,2,116,4,5,8.224138
123,905,India,West Indies,19.3,0,5,Lauderhill,159,19,3,117,3,5,8.153846
124,905,India,West Indies,19.4,1,5,Lauderhill,160,19,4,118,2,5,8.135593
125,905,India,West Indies,19.5,6,5,Lauderhill,166,19,5,119,1,5,8.369748
126,905,India,West Indies,19.6,1,5,Lauderhill,167,19,6,120,0,5,8.350000

In [27]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

<ipython-input-27-3b88d12c2886>:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batting_team', 'bowling_team', 'city'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [28]:
df['last_five'] = last_five

<ipython-input-28-83d24d575aa4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [30]:
#df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','']]

In [31]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

<ipython-input-31-72dae5031817>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [32]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [33]:
final_df.dropna(inplace=True)

In [34]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [35]:
final_df = final_df.sample(final_df.shape[0])

In [36]:
final_df.sample(2)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
8139,Bangladesh,South Africa,Cape Town,104,45,4,8.32000,26.0,144
33108,New Zealand,Pakistan,Hamilton,123,29,7,8.10989,40.0,185

In [37]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [38]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
21785,South Africa,Australia,Cape Town,124,29,7,8.175824,36.0
15903,South Africa,England,Mumbai,205,10,6,11.181818,58.0
25967,South Africa,Sri Lanka,Colombo,65,36,6,4.642857,21.0
43756,South Africa,New Zealand,Auckland,79,69,9,9.294118,60.0
39931,West Indies,New Zealand,Auckland,43,67,7,4.867925,29.0
...,...,...,...,...,...,...,...,...
4571,West Indies,Afghanistan,St Kitts,77,61,8,7.830508,26.0
36679,India,New Zealand,Hamilton,161,6,5,8.473684,46.0
30908,Australia,Bangladesh,Barbados,136,2,4,6.915254,54.0
13534,Pakistan,South Africa,Nottingham,96,46,7,7.783784,44.0
20696,West Indies,Pakistan,Barbados,95,11,3,5.229358,36.0

In [39]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [40]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [41]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [42]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9877644107798585
1.577299065493653

In [43]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [44]:
import xgboost
xgboost.__version__

'2.0.2'

In [46]:
eligible_cities

['Colombo',
 'Mirpur',
 'Dubai',
 'Johannesburg',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Sydney',
 'Lauderhill',
 'Centurion',
 'Manchester',
 'Hamilton',
 'Abu Dhabi',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Chittagong',
 'Kolkata',
 'Mount Maunganui',
 'Delhi',
 'Cardiff',
 'Chandigarh',
 'Bangalore',
 'St Kitts',
 'Christchurch',
 'Nagpur',
 'Trinidad']